Repository aditeyaS/peoples-choice, pull requests merged in 2023-10, with the labels that each got.

#11 updated PR raise instruction; updated contributors.md to show nams on…
  README.md
  contributors.md
Labels: others, hacktoberfest

#13 Added vote in data.js
  data.js
Labels: data-update, hacktoberfest-accepted

#15 minor patches
  contributors.md
  data.js
Labels: others, hacktoberfest-accepted

#16 Added my choices.
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#27 patched existing data
  data.js
Labels: hacktoberfest-accepted

#28 Data addition
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#29 new Ui
  index.css
  index.html
  index.js
Labels: ui-update, hacktoberfest-accepted

#30 added muanra choice
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#32 added attack on titans, person of interest, the truman show
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#34 Update contributors.md
  contributors.md
Labels: data-update, hacktoberfest-accepted

#35 i updated my choices
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#38 gauravBhaskar contribution
  assets/favicon-3.png
  contributors.md
  data.js
  index.css
  index.html
Labels: data-update, ui-update, hacktoberfest-accepted

#39 major UI update
  assets/favicon-3.png
  assets/favicon.png
  data.js
  index.css
  index.html
  index.js
Labels: ui-update, hacktoberfest-accepted

#41 roxoho
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#42 added my favourite anime,movie and tv series
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#43 added new entry
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#44 Add my favourite anime,series, and movie
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#45 add new data
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#46 first follow hacktoberfest
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#47 Add BlankAmber data
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#49 Fix contributors typo
  contributors.md
Labels: others, hacktoberfest-accepted

#53 Fix typos
  data.js
Labels: others, hacktoberfest-accepted

#58 feat(choice)/Added the new choice
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#60 feat: add responsive design to the title
  contributors.md
  index.css
Labels: ui-update, hacktoberfest-accepted

#62 Adding favourites
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#61 add thead and few UI modifications
  index.css
  index.html
Labels: ui-update, hacktoberfest-accepted

#66 remove hover from header
  contributors.md
  data.js
  index.css
  index.html
Labels: data-update, ui-update, hacktoberfest-accepted

#67 add favorite
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#71 ' in Peoples-choice animation is sorted
  index.css
  index.js
Labels: ui-update, hacktoberfest-accepted

#73 Added the new choice / PatrickNv23's contribution
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#69 data.js updated and HTML, JS files formatting using Prettier
  contributors.md
  data.js
  index.html
Labels: data-update, others, hacktoberfest-accepted

#74 tr animations
  .vscode/settings.json
  data.js
  index.css
  index.html
  index.js
Labels: ui-update, hacktoberfest-accepted

#78 Add scroll animation for all tabs
  contributors.md
  index.html
  index.js
Labels: ui-update, hacktoberfest-accepted

#10 feat(choice): add AirOne01's choice
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#79 New data added to data.js file
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#82 ADDed new DATA
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted

#84 Updated the data.js file
  data.js
Labels: data-update, hacktoberfest-accepted

#83 search bar added
  index.css
  index.html
  index.js
Labels: others, hacktoberfest-accepted

#91 fix: url prefix issue on movies
  index.js
Labels: others, hacktoberfest-accepted

#89 Data Added for onemole6022
  contributors.md
  data.js
Labels: data-update, hacktoberfest-accepted
